<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="">
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<title>Hello PWA.</title>

<link rel="manifest" href="./manifest.json">
<link rel="apple-touch-icon" href="./icon-192.png" sizes="192x192"/>

<!-- <link rel="stylesheet" href="./common/css/normalize.css"> -->
<!-- <link rel="stylesheet" href="./common/css/common.css"> -->
<!-- <link rel="stylesheet" href="./css/style.css"> -->

<!--[if lt IE 9]>
<script src='./common/js/html5shiv.js'></script>
<![endif]-->

<script>
// service workerが有効なら、service-worker.js を登録します
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('./service-worker.js').then(function() { console.log('Service Worker Registered'); });
}
</script>

<style>
body {
  text-align:center;
  font-size: 40px;
  vertical-align: middle;
}
.image {
  width: 80%;
  margin: auto;
  display: block;
}
[v-cloak] { display: none; }
</style>
</head>

<body>

<div id="container1">
<h1>Hello PWA.</h1>
    <img src="./pwa-logo.svg" alt="PWA logo" class="image" />
    <a href="p.html">p.html</a>
</div>


    <section class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <input class="new-todo"
          autofocus autocomplete="off"
          placeholder="What needs to be done?"
          v-model="newTodo"
          @keyup.enter="addTodo">
      </header>
      <section class="main" v-show="todos.length" v-cloak>
        <input class="toggle-all" type="checkbox" v-model="allDone">
        <ul class="todo-list">
          <li v-for="todo in filteredTodos"
            class="todo"
            :key="todo.id"
            :class="{ completed: todo.completed, editing: todo == editedTodo }">
            <div class="view">
              <input class="toggle" type="checkbox" v-model="todo.completed">
              <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
              <button class="destroy" @click="removeTodo(todo)"></button>
            </div>
            <input class="edit" type="text"
              v-model="todo.title"
              v-todo-focus="todo == editedTodo"
              @blur="doneEdit(todo)"
              @keyup.enter="doneEdit(todo)"
              @keyup.esc="cancelEdit(todo)">
          </li>
        </ul>
      </section>
      <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
        </span>
        <ul class="filters">
          <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
          <li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
          <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
        </ul>
        <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
          Clear completed
        </button>
      </footer>
    </section>
    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Written by <a href="http://evanyou.me">Evan You</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./todo.js"></script>
<!-- <script src="./common/js/jquery.js"></script> -->
<!-- <script src="./common/js/base.js"></script> -->

</body>
</html>
